@{
    ViewData["Title"] = "Kara Heffernan";
    ViewData["Banner"] = "About Me";
}
<partial name="_Banner" />
<div class="main">
    <div class="row justify-content-md-center mb-5">
        <div class="col-9 ">
            <h1 class="text-center class=" display-4"">@ViewData["Title"]</h1>
            <h3 class="text-center fs-3">Software Developer
            </h3>
            <div class="content lh-base">
                <p class="text-opacity-50">Over the course of my time at SBS Bank, I have become an integral part of the hack-it-together IT Solutions team. (Consists soley of myself, by the way.)</p>
                <p><img src="/pic/about.png" class="img-fluid" /></p>
                <p>I can solve complex practical problems by analysing software systems, such as poorly relationally ported Jade databases using models designed and never changed since the 80s, or by teaching others that a Excel File does not behave the same on a network drive as it does on OneDrive, and making something for them that will scale instead of letting them splash water all over their nice work clothes from inexperience in handling what is effectively a worn water-balloon of a system. In addition, I am also good at going into a business, analysing processes and quickly reforming them so it is more consistent and accessible to other people.</p>
            </div>

        </div>

    </div>
</div>

